<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% if secrets %}
      <div class="current_secrets">
        <h3>Current Secrets</h3>
        <table>
          {% for secret in secrets %}
          <tr>
            <td>{{ secret.secret }}</td>
            <td>{{ secret.created_at }}</td>
            <td>Likes: {{ secret.likes.count }}</td>
            <td><a href="/addLike/{{ secret.id }}">Like</a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    {% endif %}
    <div class="new_secret">
      <h3>Enter a secret</h3>
      <form class="" action="/addSecret" method="post">
        {% csrf_token %}
        <p>
          <input type="textarea" name="secret">
          <input type="submit" name="submit">
        </p>
      </form>
    </div>
  </body>
</html>
